.nav-container {
  background-color: #2c0e3a;
  width: 100%;
  top: 0px;
  margin-top: 5px;
  padding: 15px;
}
.list-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.website-logo {
  height: 100px;
  width: 250px;
}
.score-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.timer-container {
  display: flex;
  align-self: center;
}
.para-one {
  color: #ffffff;
  padding-right: 15px;
}
.para-two {
  color: #ffffff;
  padding-right: 25px;
}
.timer-logo {
  height: 35px;
  width: 50px;
  align-self: center;
}
.get-game-page {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  margin-top: -16px;
}
.display-image {
  align-self: center;
  border-radius: 7px;
  border-width: 0px;
  margin-top: 7px;
  height: 50vh;
}
.sub-container {
  display: flex;
  flex-direction: column;
}
.tab-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.trophy-class {
  height: 15vh;
  width: 10vw;
}
